<html>
<head>
<title>Thesis Template</title>
</head>
<body style="font-family:arial; width:600px; padding:25px">
<h2>Thesis Template for LaTeX2e</h2> 
<p> 

The file below is a template for using the nuthesis.cls file for a
thesis at the Mathematics Department of Northwestern. If you find 
any problem with it, email me (mlerma at math dot northwestern dot edu).
<p>

<ul>
<li><a href="nuthesis-template.tex">nuthesis-template.tex</a>:
    Template for Math NU Thesis
<li><a href="nuthesis.cls">nuthesis.cls</a>:
    LaTeX document class used by Math NU Thesis 
    (current version: 2018/04/23 v1.17a)
<li><a href="nuthesis-sample.pdf">Sample Thesis</a> (PDF) - sample thesis including various features to show how the final PDF version should look.
</ul>        

<p><hr><p>

<!--#config timefmt="%b %d, %Y" -->
<address>
Miguel A. Lerma, 
<!--#echo var="LAST_MODIFIED" --><br>
</address>

</body>
</html> 
